/*La coucle principale main*/
main{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 12%;
}

main p {
    margin-top:10px;
}

/*Menu déroulant*/
details {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

details[open]{
    opacity: 1;
}

details:hover{
    opacity:1;
}

details p {
    margin-bottom: 10px;
}

summary {
    cursor: pointer;
    margin-bottom: 5px;
}